<!doctype html>
<html>
<head>
	
	<link rel="stylesheet" type="text/css" href="../css/maps.css"/>
	
	<!-- noto sans -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&display=swap" rel="stylesheet">
	
<meta charset="utf-8">
<title>인룸 :: 방찾기</title>
</head>

<body id="wrap">
	<div id="maps">
		<div id="maps-head">
			<div class="maps-head-box">
				<div class="maps-head-box-l"></div>
				<div class="maps-head-box-r">
					<div class="maps-head-box-r-login">
						<div class="maps-head-box-r-login-l">
							<form>
								<div>
									<button>공인중개사 가입</button>
								</div>
								<div>
									<button>광고문의</button>
								</div>
							</form>
						</div>
						<div class="maps-head-box-r-login-r">
							<form>
								<div>
									<button>방찾기</button>
								</div>
								<div>
									<button>방팔기</button>
								</div>
								<div>
									<button>로그인·회원가입</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="maps-sub-head">
			<div class="sub-head-box">
				<div class="sub-head-l"></div>
				<div class="sub-head-r">
					<div class="sub-head-r-box">
						<div class="sub-head-r-box-l">
							<form>
								<div class="sub-head-r-box-l-hoverbox">
									<button class="btn" disabled>원룸·오피스텔</button>
									<div class="action-box">
										<!-- <p>원룸오피스텔</p> -->
										<div class="sub-head-r-box-l-hover">
											<label>
												<input type="checkbox">
												<a>원룸</a>
											</label>
										</div>
										<div class="sub-head-r-box-l-hover">
											<label>
												<input type="checkbox">
												<a>오피스텔</a>
											</label>
										</div>
									</div>
								</div>
								<div class="sub-head-r-box-l-hoverbox-2">
									<button class="btn" disabled>월세·전세·매매</button>
									<div class="action-box">
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="checkbox">
												<a>월세</a>
											</label>
										</div>
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="checkbox">
												<a>전세</a>
											</label>
										</div>
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="checkbox">
												<a>매매</a>
											</label>
										</div>
									</div>
								</div>
								<div class="sub-head-r-box-l-hoverbox-2">
									<button class="btn" disabled>보증금<span>중복선택불가</span></button>
									<div class="action-box">
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="radio" name="manager">
												<a>500이상</a>
											</label>
										</div>
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="radio" name="manager">
												<a>500이하</a>
											</label>
										</div>
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="radio" name="manager">
												<a>상관없음</a>
											</label>
										</div>
									</div>
								</div>
								<div class="sub-head-r-box-l-hoverbox-2">
									<button class="btn" disabled>월세<span>중복선택불가</span></button>
									<div class="action-box">
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="radio" name="monthly">
												<a>50이상</a>
											</label>
										</div>
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="radio" name="monthly">
												<a>50이하</a>
											</label>
										</div>
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="radio" name="monthly">
												<a>상관없음</a>
											</label>
										</div>
									</div>
								</div>
								<div class="sub-head-r-box-l-hoverbox-2">
									<button class="btn" disabled>방크기<span>중복선택불가</span></button>
									<div class="action-box">
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="radio" name="size">
												<a>33m²(10평) 이상</a>
											</label>
										</div>
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="radio" name="size">
												<a>33m²(10평) 이하</a>
											</label>
										</div>
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="radio" name="size">
												<a>상관없음</a>
											</label>
										</div>
									</div>
								</div>
								<div class="sub-head-r-box-l-hoverbox-2">
									<button class="btn" disabled>추가필터</button>
									<div class="action-box">
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="checkbox">
												<a>주차가능</a>
											</label>
										</div>
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="checkbox">
												<a>반려동물</a>
											</label>
										</div>
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="checkbox">
												<a>단기임대</a>
											</label>
										</div>
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="checkbox">
												<a>풀옵션</a>
											</label>
										</div>
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="checkbox">
												<a>빌트인</a>
											</label>
										</div>
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="checkbox">
												<a>엘리베이터</a>
											</label>
										</div>
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="checkbox">
												<a>베란다/발코니</a>
											</label>
										</div>
										<div class="sub-head-r-box-l-hover-2">
											<label>
												<input type="checkbox">
												<a>보안안전시설</a>
											</label>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="sub-head-r-box-r">
							<form>
								<!--
								<div>
									<button>전체필터</button>
								</div>
								
								<div>
									<input type="reset"/>
								</div>
								-->
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="maps-body">
			<div id="maps-body-left-top">
				<div class="left-top-box">
					<div class="left-top-box-l">
						<a>검색된 방 <span>999+</span>개</a>
					</div>
					<div class="left-top-box-r">
						<select>
							<option>조회순</option>
							<option>관심순</option>
							<option>거리순</option>
							<option>시간순</option>
						</select>
					</div>
				</div>
			</div>
			<div id="maps-body-left-bottom">
				<div class="left-bottom-box" onClick="#">
					<div class="left-bottom-box-l">
					</div>
					<div class="left-bottom-box-r">
						<ul>
							<li>
								<a>원룸</a>
								<a>관리비 포함</a>
								<a>관심999+</a>
							</li>
							<li>
								<a>월세 999/99</a>
							</li>
							<li>
								<a>1층, 99평, 관리비 9만</a><br/>
								<a>💟신축1.5룸💟착한가격💟 역세권풀옵션 초깔끔 💟</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="left-bottom-box" onClick="#">
					<div class="left-bottom-box-l">
					</div>
					<div class="left-bottom-box-r">
						<ul>
							<li>
								<a>원룸</a>
								<a>관리비 포함</a>
								<a>관심999+</a>
							</li>
							<li>
								<a>월세 999/99</a>
							</li>
							<li>
								<a>1층, 99평, 관리비 9만</a><br/>
								<a>💟신축1.5룸💟착한가격💟 역세권풀옵션 초깔끔 💟</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="left-bottom-box" onClick="#">
					<div class="left-bottom-box-l">
					</div>
					<div class="left-bottom-box-r">
						<ul>
							<li>
								<a>원룸</a>
								<a>관리비 포함</a>
								<a>관심999+</a>
							</li>
							<li>
								<a>월세 999/99</a>
							</li>
							<li>
								<a>1층, 99평, 관리비 9만</a><br/>
								<a>💟신축1.5룸💟착한가격💟 역세권풀옵션 초깔끔 💟</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="left-bottom-box" onClick="#">
					<div class="left-bottom-box-l">
					</div>
					<div class="left-bottom-box-r">
						<ul>
							<li>
								<a>원룸</a>
								<a>관리비 미포함</a>
								<a>관심999+</a>
							</li>
							<li>
								<a>월세 999/99</a>
							</li>
							<li>
								<a>1층, 99평, 관리비 9만</a><br/>
								<a>💟신축1.5룸💟착한가격💟 역세권풀옵션 초깔끔 💟</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="left-bottom-box" onClick="#">
					<div class="left-bottom-box-l">
					</div>
					<div class="left-bottom-box-r">
						<ul>
							<li>
								<a>원룸</a>
								<a>관리비 미포함</a>
								<a>관심999+</a>
							</li>
							<li>
								<a>월세 999/99</a>
							</li>
							<li>
								<a>1층, 99평, 관리비 9만</a><br/>
								<a>💟신축1.5룸💟착한가격💟 역세권풀옵션 초깔끔 💟</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="left-bottom-box" onClick="#">
					<div class="left-bottom-box-l">
					</div>
					<div class="left-bottom-box-r">
						<ul>
							<li>
								<a>원룸</a>
								<a>관리비 미포함</a>
								<a>관심999+</a>
							</li>
							<li>
								<a>월세 999/99</a>
							</li>
							<li>
								<a>1층, 99평, 관리비 9만</a><br/>
								<a>💟신축1.5룸💟착한가격💟 역세권풀옵션 초깔끔 💟</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="left-bottom-box" onClick="#">
					<div class="left-bottom-box-l">
					</div>
					<div class="left-bottom-box-r">
						<ul>
							<li>
								<a>원룸</a>
								<a>안산</a>
								<a>관심999+</a>
							</li>
							<li>
								<a>월세 999/99</a>
							</li>
							<li>
								<a>1층, 99평, 관리비 9만</a><br/>
								<a>💟신축1.5룸💟착한가격💟 역세권풀옵션 초깔끔 💟</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="left-bottom-box" onClick="#">
					<div class="left-bottom-box-l">
					</div>
					<div class="left-bottom-box-r">
						<ul>
							<li>
								<a>원룸</a>
								<a>안산</a>
								<a>관심999+</a>
							</li>
							<li>
								<a>월세 999/99</a>
							</li>
							<li>
								<a>1층, 99평, 관리비 9만</a><br/>
								<a>💟신축1.5룸💟착한가격💟 역세권풀옵션 초깔끔 💟</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="left-bottom-box" onClick="#">
					<div class="left-bottom-box-l">
					</div>
					<div class="left-bottom-box-r">
						<ul>
							<li>
								<a>원룸</a>
								<a>안산</a>
								<a>관심999+</a>
							</li>
							<li>
								<a>월세 999/99</a>
							</li>
							<li>
								<a>1층, 99평, 관리비 9만</a><br/>
								<a>💟신축1.5룸💟착한가격💟 역세권풀옵션 초깔끔 💟</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="left-bottom-box" onClick="#">
					<div class="left-bottom-box-l">
					</div>
					<div class="left-bottom-box-r">
						<ul>
							<li>
								<a>원룸</a>
								<a>안산</a>
								<a>관심999+</a>
							</li>
							<li>
								<a>월세 999/99</a>
							</li>
							<li>
								<a>1층, 99평, 관리비 9만</a><br/>
								<a>💟신축1.5룸💟착한가격💟 역세권풀옵션 초깔끔 💟</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="left-bottom-box" onClick="#">
					<div class="left-bottom-box-l">
					</div>
					<div class="left-bottom-box-r">
						<ul>
							<li>
								<a>원룸</a>
								<a>안산</a>
								<a>관심999+</a>
							</li>
							<li>
								<a>월세 999/99</a>
							</li>
							<li>
								<a>1층, 99평, 관리비 9만</a><br/>
								<a>💟신축1.5룸💟착한가격💟 역세권풀옵션 초깔끔 💟</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="maps-body-right">
				<div id="map"></div>
			</div>
		</div>
	</div>
</body>
</html>
