@charset "utf-8";
/* CSS */

*{
	padding: 0;
	margin: 0;
}

input, select, textarea, button{
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.cut{
	clear: both;
}

body{
	background-color: #fff;
	font-family: 'Noto Sans KR', sans-serif;
	border-collapse: collapse;
}

/* build */

#maps{
	width: 100%;
	max-width: 1920px;
	min-width: 1366px;
	max-height: 1080px;
	min-height: 768px;
	
	top: 0;
	left: 0;
	bottom: 0;
	position: fixed;
}

#maps-head{
	width: 100%;
	max-width: 1920px;
	min-width: 1366px;
	
	height: 45px;
	
	top: 0;
	left: 0;
	position: fixed;
	
	background-color: #0ab494;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 3px 0px;
}

#maps-sub-head{
	width: 100%;
	max-width: 1920px;
	min-width: 1366px;
	
	height: 45px;
	
	top: 45px;
	left: 0;
	position: fixed;
	
	background-color: #f5f5f5;
	border-bottom: 1px solid #ccc;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 3px 0px;
}
/*
#maps-body{
	width: 100%;
	max-width: 1920px;
	min-width: 1366px;
	
	top: 90px;
	left: 0;
	bottom: 0;
	position: fixed;
	
	z-index: 10;
}
*/

#maps-body-left-top{
	width: 400px;
	min-width: 400px;
	height: 45px;
	
	top: 90px;
	left: 0;
	position: fixed;
}

#maps-body-left-bottom{
	width: 400px;
	min-width: 400px;
	
	top: 135px;
	left: 0;
	bottom: 0;
	position: fixed;
	overflow: auto;
	
	-ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
	
	border-right: 1px solid #ccc;
}

#maps-body-left-bottom::-webkit-scrollbar{
    display: none; /* Chrome, Safari, Opera*/
}

#map{
	margin-left: 400px;
	
	width: 1520px;
	height: 990px;
	
	background-image: url("../images/map-test.png");
}

/*
#maps-body-right{
	margin-left: 400px;
	width: 100%;
	max-width: 1520px;
	
	top: 91px;
	bottom: 0;
	position: fixed;
	
	border-left: 1px solid #ccc;
	
	z-index: 10;
}
*/

/*
maps-head*/

.maps-head-box{
	width: 100%;
	height: 45px;
	
	display: flex;
}

.maps-head-box-l{
	width: 250px;
	min-width: 250px;
	height: 45px;
	
	border-right: 1px solid #09997f;
}

.maps-head-box-r{
	width: 100%;
	max-width: 1720px;
	height: 45px;
}

.maps-head-box-r-login{
	width: 100%;
	max-width: 1720px;
	height: 45px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.maps-head-box-r-login-l form{
	display: flex;
}

.maps-head-box-r-login-l form button{
	height: 45px;
	line-height: 45px;
	
	border: 0;
	border-right: 1px solid #09997f;
	background-color: #0ab494;
	width: 150px;
	
	font-size: 12px;
	font-weight: 700;
	color: #f5f5f5;
	
	cursor: pointer;
}

.maps-head-box-r-login-r form{
	display: flex;
}

.maps-head-box-r-login-r form button{
	height: 45px;
	line-height: 45px;
	
	border: 0;
	border-left: 1px solid #09997f;
	background-color: #0ab494;
	width: 150px;
	
	font-size: 12px;
	font-weight: 700;
	color: #f5f5f5;
	
	cursor: pointer;
}


/*
maps-sub-head*/

.sub-head-box{
	width: 100%;
	height: 45px;
	
	display: flex;
}

.sub-head-l{
	width: 400px;
	min-width: 400px;
	height: 45px;
	
	border-right: 1px solid #ccc;
}

.sub-head-r{
	width: 100%;
	max-width: 1520px;
	height: 45px;
}

.sub-head-r-box{
	width: 100%;
	max-width: 1520px;
	height: 45px;
	
	display: flex;
	justify-content: space-between;
}

.sub-head-r-box-l form{
	display: flex;
}

.sub-head-r-box-l button{
	height: 45px;
	line-height: 45px;
	
	border: 0;
	background-color: #f5f5f5;
	border-right: 1px solid #ccc;
	width: 150px;
	
	font-size: 12px;
	font-weight: 700;
	color: #0ab494;
	
	cursor: pointer;
}

.sub-head-r-box-l-hoverbox{
}

.sub-head-r-box-l-hoverbox-2{
}

.action-box{
	display: none;
}

.sub-head-r-box-l-hover{
	line-height: 45px;
	
	border: 0;
	background-color: #f5f5f5;
	width: 149px;
	
	font-size: 12px;
	font-weight: 400;
	color: #888;
	
	cursor: pointer;
	
	
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	
	text-align: center;
}

.sub-head-r-box-l-hover:nth-child(1){
	border-top: 1px solid #ccc;
}

.sub-head-r-box-l-hover-2{
	line-height: 45px;
	
	border: 0;
	background-color: #f5f5f5;
	width: 149px;
	
	font-size: 12px;
	font-weight: 400;
	color: #888;
	
	cursor: pointer;
	
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	
	text-align: center;
	
	margin-left: -1px;
}

.sub-head-r-box-l-hover-2:nth-child(1){
	border-top: 1px solid #ccc;
}

.sub-head-r-box-l-hoverbox p{
	line-height: 45px;
	
	border: 0;
	background-color: #f5f5f5;
	width: 149px;
	
	font-size: 12px;
	font-weight: 400;
	color: #1d1d1d;
	
	cursor: pointer;
	
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	
	text-align: center;
}

.sub-head-r-box-l-hover a{
	width: 100%;
	height: 45px;
	line-height: 45px;
	
	display: flex;
	justify-content: center;
}

.sub-head-r-box-l-hover-2 a{
	width: 100%;
	height: 45px;
	line-height: 45px;
	
	display: flex;
	justify-content: center;
}

.btn span{
	font-size: 11px;
	color: #8c8c8c;
	margin-left: 3px;
}

.sub-head-r-box-l-hoverbox:hover .action-box{
	display: block;
}

.sub-head-r-box-l-hoverbox-2:hover .action-box{
	display: block;
}

.sub-head-r-box-l-hover input[type="checkbox"]{
    visibility:hidden;
	position: absolute;
}

.sub-head-r-box-l-hover input[type="checkbox"]:checked + a{
    background-color: #0ab494;
	color: #f5f5f5;
}

.sub-head-r-box-l-hover-2 input[type="checkbox"]{
    visibility:hidden;
	position: absolute;
}

.sub-head-r-box-l-hover-2 input[type="checkbox"]:checked + a{
    background-color: #0ab494;
	color: #f5f5f5;
}

.sub-head-r-box-l-hover input[type="radio"]{
    visibility:hidden;
	position: absolute;
}

.sub-head-r-box-l-hover input[type="radio"]:checked + a{
    background-color: #0ab494;
	color: #f5f5f5;
}

.sub-head-r-box-l-hover-2 input[type="radio"]{
    visibility:hidden;
	position: absolute;
}

.sub-head-r-box-l-hover-2 input[type="radio"]:checked + a{
    background-color: #0ab494;
	color: #f5f5f5;
}

.sub-head-r-box-r form{
	display: flex;
}

.sub-head-r-box-r button{
	height: 45px;
	line-height: 45px;
	
	border: 0;
	background-color: #f5f5f5;
	border-left: 1px solid #ccc;
	width: 150px;
	
	font-size: 12px;
	font-weight: 700;
	color: #348f6c;
	
	cursor: pointer;
}

.sub-head-r-box-r input{
	height: 45px;
	line-height: 45px;
	
	border: 0;
	background-color: #f5f5f5;
	border-left: 1px solid #ccc;
	width: 150px;
	
	font-size: 12px;
	font-weight: 700;
	color: #348f6c;
	
	cursor: pointer;
}

/*
maps-body*/

.left-top-box{
	width: 100%;
	height: 45px;
	line-height: 43px;
	margin: 0 auto;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.left-top-box-l{
	margin-left: 12px;
}

.left-top-box-l a{
	font-size: 15px;
	font-weight: 400;
	color: #1d1d1d;
}

.left-top-box-l span{
	font-weight: 500;
	color: #0ab494;
	margin: 0px 3px;
}

.left-top-box-r{
	margin-right: 12px;
}

.left-top-box-r select{
	border: 0;
	font-size: 12px;
	color: #1d1d1d;
	
	width: 60px;
}

.left-bottom-box{
	width: 100%;
	height: 160px;
	margin: 0 auto;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.left-bottom-box-l{
	width: 35%;
	height: 140px;
	
	background-color: #0ab494;
	border-radius: 5px;
	margin-left: 5px;
	
	background-image: url("../images/unnamed.jpg");
}

.left-bottom-box-r{
	width: 60%;
	height: 110px;
	
	margin-right: 5px;
	overflow: hidden;
}

.left-bottom-box-r ul{
	list-style: none;
}

.left-bottom-box-r li:nth-child(1) a{
	padding: 3px 8px;
    font-size: 12px;
    font-weight: 400;
    background-color: #ffe8ee;
    color: #ed507d;
    border-radius: 5px;
}

.left-bottom-box-r li:nth-child(1) a:nth-child(2){
	background-color: #c4f1e8;
    color: #0ab494;
}

.left-bottom-box-r li:nth-child(1) a:nth-child(3){
	background-color: #dfe7fe;
    color: #6879b1;
}

.left-bottom-box-r li:nth-child(2) a{
	font-size: 22px;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 42px;
	letter-spacing: 0.5px;
}

.left-bottom-box-r li:nth-child(3) a{
	font-size: 12px;
    font-weight: 400;
    color: #888;
    text-overflow: ellipsis;
	word-break: keep-all;
}